.cv-editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  min-width: 300px;
}

.clear-and-load-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.clear-and-load-buttons button {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.clear-and-load-buttons button:hover {
  filter: brightness(0.9);
  transform: scale(1.05);
}

.clear-and-load-buttons .clear-button {
  color: white;
  background-color: red;
}
.clear-and-load-buttons .load-button {
  color: white;
  background-color: blue;
}
