.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
}

.input-group h1 {
  font-size: 1.2rem;
}

.input-group input {
  width: 100%;
}

.input-group textarea {
  resize: vertical;
}

.input-group input,
.input-group textarea {
  padding: 7px;
  border-radius: 10px;
  border: none;
  background-color: rgb(236, 236, 236);
  font-size: 1rem;
}
